.App {
  text-align: center;
}

h1{
  font-family: sans-serif;
  margin: 20px;
  font-family: 'Galada', cursive;
}
Form {
  display: inline-block;
  background-color: rgb(190, 212, 218);
  padding: 20px 30px;
  border-radius: 25px;
  font-style: italic;
  
}
body{
  background-color: rgb(234, 241, 243);
}